<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="nopCommerce">

    <listeners>
        <listener class-name="Selenium.day28.part5.utilities.Reporting"/>
    </listeners>

    <test name="nopCommerce Test1" thread-count="5">
        <parameter name="browser" value="chrome"/>
        <classes>
            <!-- <class name="Selenium.day28.part5.testCases.TC_LoginTest_001"/> -->
            <class name="Selenium.day28.part6.testCases.TC_LoginDDT_002"/>
        </classes>
    </test>

    <!-- <test name="nopCommerce Test3" thread-count="5">
    <parameter name="browser" value="firefox" />
    <classes>
       <class name="com.nopcommerce.testCases.TC_LoginTest_001" />
    </classes>
    </test> -->

</suite>